.input{
    width: 314px;
    height: 52px;
    border: 2px solid var(--color-grey-1);
    background-color: var(--color-grey-1);
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 8px;

    &:placeholder {
        color: #868E96;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;

    }
}

