.select {
    width: 313px;
    height: 48px;
    background-color: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: 8px;
    padding: 0rem 1rem 0rem 1rem;
    color: var(--color-grey-3);
}