.title1 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;

}

.title2 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.375rem;
}

.title3 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.title4 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
}

.headline {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}