.headerBox {
    display: flex;
    align-items: center;
    background-color: var(--color-grey-1);
    width:21.5625rem;
    height: 4.3125rem;
    filter: drop-shadow(#00000025 0rem 4px 5px);
    border: none;
}

.logo {
    width: 113px;
    height: 18px;
    padding-left: 10px;
}

@media (min-width:1024px) {
    .headerBox {
        width: 100%;
        padding-left: 100px;
    }
}